<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Text</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header-container">
    <header class="header">
        <a href="/" class="logo">
            <img src="/logo.png" alt="Logo">
        </a>
    
    </header>
    </div>
<div class="full">
    <div class="title"><h1>Votre programme</h1></div>
    <div id="generatedText"><%- text %></div>
    <div class="ad1">
        <script type="text/javascript">
            atOptions = {
                'key' : 'bc9f83fd68b40337c4c9a0ced9349c30',
                'format' : 'iframe',
                'height' : 50,
                'width' : 320,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/bc9f83fd68b40337c4c9a0ced9349c30/invoke.js"></scr' + 'ipt>');
        </script>
    </div>
</div>

</body>
</html>
